aside.metaEditor{
  position:fixed;
  min-width: 190px;
  width: 15%; 
  top: 2em;
  left: 2em;
  z-index:9;
  border-radius: 7px;
  box-shadow: 0.25em 0.25em 0.25em rgba(0,0,0,0.1);
	overflow: auto;
  border-width: 1px;
  border-color: #CBBEB5;
  border-style: solid;
  font-size: 24px;
  color: #191919;
}

aside button {
  border-width: 1px;
  border-color: #CBBEB5;
  height: 20px;
  color:gray;
  background-color: white;
}

aside button:hover{
  background-color: gray;
  color:white;
}

aside button:active{
  background-color: white;
  color:gray; 
}

aside button:focus{
  outline: none;
}

aside.metaEditor input{
  border:gray;
  padding: 5px;
  margin-bottom: 20px; 
  border-color: #CBBEB5;
  border-style: solid;
  border-width: 1px;
}

aside.metaEditor input:focus{
  outline-width: 1px;
  outline-color: red;
}

aside.metaEditor *{
  margin-left: 10px;
  margin-right: 10px;
}

aside.metaEditor *:last-child{
  margin-bottom: 25px;
}

.wrapper{
  margin: 0 auto; 
  height: auto;
  width: 900px;
  padding-left: 300px;
}
